<a href="https://colab.research.google.com/github/NotAzharrr/Ipl_winner_prediction/blob/main/IPL_winner_predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import kagglehub
path = kagglehub.dataset_download("shivamb/netflix-shows")
import pandas as pd
df = pd.read_csv('ipl.csv')
df.head()

Using Colab cache for faster access to the 'netflix-shows' dataset.

,team1,team2,match_date,toss_winner,toss_decision,winner,player_of_match,venue,city,team1_players,team2_players,season,match_number,match_type,result,result_margin,target_runs,target_overs,super_over
0,Royal Challengers Bangalore,Kolkata Knight Riders,2008-04-18,Royal Challengers Bangalore,field,Kolkata Knight Riders,BB McCullum,M Chinnaswamy Stadium,Bangalore,"R Dravid, W Jaffer, V Kohli, JH Kallis, CL Whi...","SC Ganguly, BB McCullum, RT Ponting, DJ Hussey...",1,1,League,runs,140.0,223.0,20.0,N
1,Kings XI Punjab,Chennai Super Kings,2008-04-19,Chennai Super Kings,bat,Chennai Super Kings,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Chandigarh,"K Goel, JR Hopes, KC Sangakkara, Yuvraj Singh,...","PA Patel, ML Hayden, MEK Hussey, MS Dhoni, SK ...",1,2,League,runs,33.0,241.0,20.0,N
2,Delhi Daredevils,Rajasthan Royals,2008-04-19,Rajasthan Royals,bat,Delhi Daredevils,MF Maharoof,Feroz Shah Kotla,Delhi,"G Gambhir, V Sehwag, S Dhawan, MK Tiwary, KD K...","T Kohli, YK Pathan, SR Watson, M Kaif, DS Lehm...",1,3,League,wickets,9.0,130.0,20.0,N
3,Mumbai Indians,Royal Challengers Bangalore,2008-04-20,Mumbai Indians,bat,Royal Challengers Bangalore,MV Boucher,Wankhede Stadium,Mumbai,"L Ronchi, ST Jayasuriya, DJ Thornely, RV Uthap...","S Chanderpaul, R Dravid, LRPL Taylor, JH Kalli...",1,4,League,wickets,5.0,166.0,20.0,N
4,Kolkata Knight Riders,Deccan Chargers,2008-04-20,Deccan Chargers,bat,Kolkata Knight Riders,DJ Hussey,Eden Gardens,Kolkata,"WP Saha, BB McCullum, RT Ponting, SC Ganguly, ...","AC Gilchrist, Y Venugopal Rao, VVS Laxman, A S...",1,5,League,wickets,5.0,111.0,20.0,N

//Data Preprocessing//

Changing the name of all team which has change there name in future

In [ ]:
name_map = {
    'Royal Challengers Bangalore': 'Royal Challengers Bengaluru',
    'Delhi Daredevils': 'Delhi Capitals',
    'Deccan Chargers': 'Sunrisers Hyderabad',
    'Rising Pune Supergiants': 'Rising Pune Supergiant',
    'Kings XI Punjab': 'Punjab Kings'
}
cols = ['team1', 'team2', 'toss_winner', 'winner']

for col in cols:
    df[col] = df[col].replace(name_map)

In [ ]:
df['loser'] = df.apply(
    lambda row: row['team2'] if row['winner'] == row['team1'] else row['team1'],
    axis=1
)
df.drop(['player_of_match','toss_decision','toss_winner','match_date',
         'venue','match_type','result','super_over'],
        axis=1, inplace=True, errors='ignore')
df.head()

,team1,team2,winner,city,team1_players,team2_players,season,match_number,result_margin,target_runs,target_overs,loser
0,Royal Challengers Bengaluru,Kolkata Knight Riders,Kolkata Knight Riders,Bangalore,"R Dravid, W Jaffer, V Kohli, JH Kallis, CL Whi...","SC Ganguly, BB McCullum, RT Ponting, DJ Hussey...",1,1,140.0,223.0,20.0,Royal Challengers Bengaluru
1,Punjab Kings,Chennai Super Kings,Chennai Super Kings,Chandigarh,"K Goel, JR Hopes, KC Sangakkara, Yuvraj Singh,...","PA Patel, ML Hayden, MEK Hussey, MS Dhoni, SK ...",1,2,33.0,241.0,20.0,Punjab Kings
2,Delhi Capitals,Rajasthan Royals,Delhi Capitals,Delhi,"G Gambhir, V Sehwag, S Dhawan, MK Tiwary, KD K...","T Kohli, YK Pathan, SR Watson, M Kaif, DS Lehm...",1,3,9.0,130.0,20.0,Rajasthan Royals
3,Mumbai Indians,Royal Challengers Bengaluru,Royal Challengers Bengaluru,Mumbai,"L Ronchi, ST Jayasuriya, DJ Thornely, RV Uthap...","S Chanderpaul, R Dravid, LRPL Taylor, JH Kalli...",1,4,5.0,166.0,20.0,Mumbai Indians
4,Kolkata Knight Riders,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata,"WP Saha, BB McCullum, RT Ponting, SC Ganguly, ...","AC Gilchrist, Y Venugopal Rao, VVS Laxman, A S...",1,5,5.0,111.0,20.0,Sunrisers Hyderabad

In [ ]:
df.nlargest(5, 'result_margin')

,team1,team2,winner,city,team1_players,team2_players,season,match_number,result_margin,target_runs,target_overs,loser
620,Sunrisers Hyderabad,Rising Pune Supergiant,Rising Pune Supergiant,Hyderabad,"DA Warner, S Dhawan, KS Williamson, Yuvraj Sin...","AM Rahane, RA Tripathi, SPD Smith, BA Stokes, ...",10,44,146.0,213.0,20.0,Sunrisers Hyderabad
560,Royal Challengers Bengaluru,Gujarat Lions,Royal Challengers Bengaluru,Bangalore,"CH Gayle, V Kohli, AB de Villiers, SR Watson, ...","DR Smith, BB McCullum, RA Jadeja, KD Karthik, ...",9,44,144.0,249.0,20.0,Gujarat Lions
0,Royal Challengers Bengaluru,Kolkata Knight Riders,Kolkata Knight Riders,Bangalore,"R Dravid, W Jaffer, V Kohli, JH Kallis, CL Whi...","SC Ganguly, BB McCullum, RT Ponting, DJ Hussey...",1,1,140.0,223.0,20.0,Royal Challengers Bengaluru
496,Royal Challengers Bengaluru,Punjab Kings,Royal Challengers Bengaluru,Bangalore,"CH Gayle, V Kohli, AB de Villiers, KD Karthik,...","M Vijay, M Vohra, WP Saha, GJ Maxwell, DA Mill...",8,39,138.0,227.0,20.0,Punjab Kings
352,Delhi Capitals,Punjab Kings,Punjab Kings,Delhi,"DPMD Jayawardene, V Sehwag, RE van der Merwe, ...","AC Gilchrist, Mandeep Singh, LA Pomersbach, DA...",6,31,130.0,264.0,20.0,Delhi Capitals

In [ ]:
df.drop(['team1_players','team2_players','city','match_number','result_margin','target_runs','target_overs'], axis=1, inplace=True, errors='ignore')
df.tail()

,team1,team2,winner,season,loser
1164,Lucknow Super Giants,Royal Challengers Bengaluru,Royal Challengers Bengaluru,18,Lucknow Super Giants
1165,Punjab Kings,Royal Challengers Bengaluru,Royal Challengers Bengaluru,18,Punjab Kings
1166,Mumbai Indians,Gujarat Titans,Mumbai Indians,18,Gujarat Titans
1167,Mumbai Indians,Punjab Kings,Punjab Kings,18,Mumbai Indians
1168,Royal Challengers Bengaluru,Punjab Kings,Royal Challengers Bengaluru,18,Punjab Kings

In [ ]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

df_clean = df[['team1', 'team2', 'season', 'winner']].dropna()

X = df_clean[['team1', 'team2', 'season']]
y = df_clean['winner']


X_train = X[X['season'] <= 16]
y_train = y[X['season'] <= 16]

X_test = X[X['season'] > 16]
y_test = y[X['season'] > 16]

encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
X_train_enc = encoder.fit_transform(X_train)
X_test_enc = encoder.transform(X_test)

model = RandomForestClassifier(n_estimators=300, max_depth=15, random_state=42)
model.fit(X_train_enc, y_train)


y_pred = model.predict(X_test_enc)


accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

cm = confusion_matrix(y_test, y_pred)
print("\nConfusion Matrix:\n", cm)

print("\nClassification Report:\n")
print(classification_report(y_test, y_pred))


results = X_test.copy()
results['Actual_Winner'] = y_test.values
results['Predicted_Winner'] = y_pred

print("\nSample Predictions:")
print(results)

Accuracy: 0.49645390070921985

Confusion Matrix:
 [[ 6  0  2  0  0  2  0  1  0  0]
 [ 2  5  1  0  3  0  1  0  1  0]
 [ 1  2  7  1  0  1  0  1  0  1]
 [ 1  0  0 11  1  2  0  1  0  0]
 [ 2  0  3  0  5  1  1  0  1  0]
 [ 0  0  0  0  0 13  0  0  0  0]
 [ 3  1  1  2  0  2  3  2  1  0]
 [ 1  0  0  1  1  2  0  6  2  0]
 [ 3  0  0  1  0  1  3  0 10  0]
 [ 2  1  0  1  2  1  1  3  0  4]]

Classification Report:

                             precision    recall  f1-score   support

        Chennai Super Kings       0.29      0.55      0.38        11
             Delhi Capitals       0.56      0.38      0.45        13
             Gujarat Titans       0.50      0.50      0.50        14
      Kolkata Knight Riders       0.65      0.69      0.67        16
       Lucknow Super Giants       0.42      0.38      0.40        13
             Mumbai Indians       0.52      1.00      0.68        13
               Punjab Kings       0.33      0.20      0.25        15
           Rajasthan Royals       0.43      0.46      0.44        13
Royal Challengers Bengaluru       0.67      0.56      0.61        18
        Sunrisers Hyderabad       0.80      0.27      0.40        15

                   accuracy                           0.50       141
                  macro avg       0.52      0.50      0.48       141
               weighted avg       0.53      0.50      0.48       141


Sample Predictions:
                            team1                        team2  season  \
1024  Royal Challengers Bengaluru          Chennai Super Kings      17
1025        Kolkata Knight Riders          Sunrisers Hyderabad      17
1026               Delhi Capitals                 Punjab Kings      17
1027             Rajasthan Royals         Lucknow Super Giants      17
1028               Gujarat Titans               Mumbai Indians      17
...                           ...                          ...     ...
1164         Lucknow Super Giants  Royal Challengers Bengaluru      18
1165                 Punjab Kings  Royal Challengers Bengaluru      18
1166               Mumbai Indians               Gujarat Titans      18
1167               Mumbai Indians                 Punjab Kings      18
1168  Royal Challengers Bengaluru                 Punjab Kings      18

                    Actual_Winner             Predicted_Winner
1024          Chennai Super Kings          Chennai Super Kings
1025        Kolkata Knight Riders        Kolkata Knight Riders
1026                 Punjab Kings               Delhi Capitals
1027             Rajasthan Royals             Rajasthan Royals
1028               Gujarat Titans               Gujarat Titans
...                           ...                          ...
1164  Royal Challengers Bengaluru  Royal Challengers Bengaluru
1165  Royal Challengers Bengaluru                 Punjab Kings
1166               Mumbai Indians               Mumbai Indians
1167                 Punjab Kings               Mumbai Indians
1168  Royal Challengers Bengaluru  Royal Challengers Bengaluru

[141 rows x 5 columns]